.brandHeading,h2,h3,h4,h5,h6 {
    font-family: 'Spartan', sans-serif;
}

p,a {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2.4rem;
    font-size: 1.8rem;
}


// brand heading typography

.brandHeading {
    color: rgb(165, 42, 11);
    margin-bottom: 2.4rem;
    font-size: 3.5rem;
  }
  
//   tagline typography

  .tag {
    color: white;
    margin-bottom: 2.4rem;
    font-weight: 900;
  }